.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-image: url("./uniform/3.jpg");
  background-size: 50%;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
div.col:hover{
 background-color: rgba(108, 112, 107, 0.397);
}
img.s:hover{
  background-color: rgba(0, 0, 0, 0.397);
}
.p{
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 3%;
  margin-top: 3%;
  margin-bottom: 8%;
  padding-bottom: 3%;
}
.fon
{
  font-family: 'Prompt', sans-serif;
}
.mina {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aaa {
  background-image: url("./uniform/122247107.jpg");
  background-size: 80%;
}
.t
{
  margin-top: 15%;
  color: yellow;
}
.App-header1 {
 background-color: rgb(65, 64, 64);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.slide-container {
  width: 80%;
  margin: auto; }


.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
}

.each-fade .image-container img {
  width: 150%;
}
.ss
{
  background-color: rgba(85, 82, 82, 0.781);
  margin-right: 10%;
}

.aaa2{
  background-image: url("./uniform/122247107.jpg");
  background-size: 70%;
}
.p2{
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 3%;
  margin-bottom: 5%;
}
.tu
{
  margin-left: 15%;
}
.ml1
{
margin-right: 15%;
}
.cc1
{
  -ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%
}
.cccc
{
  background-color: #61dafb00;
}
.bb1
{
margin-right: 10%;
}
.tuu
{
  margin-left: 20%;
}
.aps
{
  margin-right: 30%;
}
.B
{
  margin-right: 5%;
}
.tu1
{
  margin-left: 2%;
}
.ss1
{
  background-color: rgba(85, 82, 82, 0.781);
  margin-right: 5%;
}
.bbb
{
  display:inline-block;font-weight:400;color:#212529;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
  
}

.middle{
  position: absolute;
  top: 33%;
  width: 100%;
  height: 30%;
  text-align: center;
  background-image: url("./uniform/3.jpg");
  background-size: 50%;
  margin-top: 115%;
}
.btn1{
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
  margin-top: 5%;
}
.btn1 i{
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
}
.btn1:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.btn1::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn1:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}

.middle1{
  position: absolute;
  width: 100%;
  height: 30%;
  text-align: center;
  background-image: url("./uniform/3.jpg");
  background-size: 50%;
  margin-top: 88%;
}

.middle2{
  position: absolute;
  width: 100%;
  height: 30%;
  text-align: center;
  background-image: url("./uniform/3.jpg");
  background-size: 50%;
  margin-top: 95%;
}
.naav
{
  background-color: #313030;
  margin-left: 90%;
}
.App-header2 {
  background-color: rgb(65, 64, 64);
   min-height: 80vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 1vmin);
   color: white;
 }
 .mp
 {
   margin-left: 75%;
 }
 .loginback
 {
   background-color: #727070;
   padding: 5%;
 }

.box{
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
  border-radius: 3%;
  margin-top: 2%;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "email"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "email"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: auto;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}

* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column-item {
  float: left;
  width: 25%;
  padding: 5px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row-item:after {
  content: "";
  display: table;
  clear: both;
}
.form-groups{ 
  border: 1.5px solid rgba(143, 143, 143, 0.513);
  border-radius: 4px;
  height: 30px;
  width: 200px;
  
}
.form-content{
/* resize:none; */
width:100%;
height: 100px;
border: 1.5px solid rgba(143, 143, 143, 0.513);
border-radius: 4px;
padding-left: 10px;
}
.form-name{ border: 1.5px solid rgba(143, 143, 143, 0.513);
  border-radius: 4px;
  height: 30px;
  width: 100%;
  padding-left: 10px;
}
form{
  padding-left: 3%;
  margin-left: 3%;font-family: 'Athiti', sans-serif;
}
.ass
{
  color: #ffa908;
}
.write-title{
  padding-left: 1%;
  margin-left: 1%;
  font-size: 20px;
  border-left: 5px solid #B6FFEA;
  
}
.title{
  font-size: 14px;
  padding-bottom: 10px;
  padding-top: 10px;
  height: 40px;
  padding-left: 1%;
  margin-left: 1%;
  border-left: 1.5px solid rgb(185, 185, 185);
}
#Tab{
  padding-left: 30px;
  padding-top: 10px;
}



.grid-item-Write1{ 
  grid-area: groubs; 
  padding-top: 10px;
}
.grid-item-Write2 { 
    
  grid-area: nameTitle; 
  padding-top: 10px;
  /* padding-left: 1%; */
  padding-right: 20px;
    }
.grid-item-Write3 { 
  grid-area: content;   
  padding-top: 10px;
  padding-right: 20px;
}
.igrid-item-Write4 { 
    grid-area: imgfile; 
    padding-right: 20px;
}
.grid-item-Write5 { 
  grid-area: heading1; 
  padding-right: 20px;
  padding-top: 20px;
}
.grid-item-Write6 { 
  grid-area: con1; 
  padding-top: 20px;
  padding-right: 20px;
}
.grid-item-Write7 { 
  grid-area: con2; 
  padding-top: 20px;
  padding-right: 20px;
}
.grid-item-Write8 { 
  grid-area: con3; 
  padding-top: 20px;
  padding-right: 20px;
}
.grid-item-Write9 { 
  grid-area: LinkVDO; 
  padding-top: 20px;
  padding-right: 20px;
}
.grid-container-Write {
  display: grid;
  grid-template-areas:
  'groubs'
  'nameTitle'
  'content'
  'imgfile'
  'con2'
  'con3'
  'LinkVDO'
  'heading1'
  
  'con1'
  
 ;
  grid-gap: 0.5px;
  
  /* background-color: #2196F3; */
  padding: 0px;
}
.grid-item-Write {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 15px;
  /* text-align: center; */
}

/*ตาราง*/
table {
  width:100%;
}
table, th, td {
  border: 1px solid rgb(114, 114, 114);
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: rgb(243, 169, 169);
}
table#t01 tr:nth-child(odd) {
 background-color: rgb(94, 91, 91);
}
table#t01 th {
  background-color: #FFB3B3;
  color: white;
}
.bg-light {
  background-color: #B6FFEA!important;border-radius: 5px;
}
.navbar {
  position: relative;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 0.5rem;
}
@import url('https://fonts.googleapis.com/css?family=Athiti&display=swap');
.search-bar{
  margin: 90px;
  text-align: center;
}

.search-bar input {
  width: 100%;
  padding-left: 2%;
} 
.search-table{
  font-size: 18px;
  display: block;
  width: 100%;
  padding-left: 5px;
  height: 20%;border-radius: 5px;
  border: 2px solid rgb(78, 78, 78);
  border-radius: 8px;
}


/* btn */

.buttons {
  margin: 10%;
  text-align: center; 
  
}

.btn-hover {

  width: 100px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 30px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.mbbb
{
  margin-bottom: 10%;
}
.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
  background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
  background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
      background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
     background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}


.myButton-SummitUpimg {
box-shadow:inset 0px 1px 0px 0px #bbdaf7;
background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
background-color:#79bbff;
border-radius:6px;
border:1px solid #84bbf3;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-size:15px;
font-weight:bold;
padding:6px 24px;
text-decoration:none;
text-shadow:0px 1px 0px #528ecc;
}

.myButton-SummitUpimg:hover {
background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
background-color:#378de5;
}
.myButton-SummitUpimg:active {
position:relative;
top:1px;
}


.myButton-upimg{
box-shadow:inset 0px 1px 0px 0px #ffffff;
background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
background-color:#ffffff;
border-radius:6px;
border:1px solid #dcdcdc;
display:inline-block;
cursor:pointer;
color:#666666;
font-size:15px;
font-weight:bold;
padding:6px 24px;
text-decoration:none;
text-shadow:0px 1px 0px #ffffff;
}
.myButton-upimg:hover {
background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
background-color:#f6f6f6;
}
.myButton-upimg:active {
position:relative;
top:1px;
}

.btn-update {
box-shadow:inset 0px 1px 0px 0px #caefab;
background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
background-color:#77d42a;
border-radius:6px;
border:1px solid #268a16;
display:inline-block;
cursor:pointer;
color:#306108;
font-size:15px;
font-weight:bold;
padding:6px 10px;
text-decoration:none;
text-shadow:0px 1px 0px #aade7c;
}
.btn-update:hover {
background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
background-color:#5cb811;
}
.btn-update:active {
position:relative;
top:1px;
}

.btn-del {
box-shadow:inset 0px 1px 0px 0px #f29c93;
background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
background-color:#fe1a00;
border-radius:6px;
border:1px solid #d83526;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-size:15px;
font-weight:bold;
padding:6px 17px;
text-decoration:none;
text-shadow:0px 1px 0px #b23e35;
}
.btn-del:hover {
background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
background-color:#ce0100;
}
.btn-del:active {
position:relative;
top:1px;
}
.modal-body
{
  background-color: #727070;
}

